version: '3.4'

services:
  catalogdb:
    container_name: catalogdb
    restart: always
    volumes:
        - ${WEBAPP_STORAGE_HOME}/site:/data/db
    ports:
        - "27017:27017"

  shopcartdb:
    container_name: shopcartdb
    restart: always
    ports:
        - "6379:6379"

  orderdb:
    container_name: orderdb
    ports:
        - "1433:1433"
    environment:
        SA_PASSWORD: "Teste@1234"
        ACCEPT_EULA: "Y"

  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
        - "5672:5672"
        - "15672:15672"

  catalog.api:
    container_name: catalogapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CatalogDbSettings:ConnectionString=mongodb://catalogdb:27017"
    depends_on:
      - catalogdb
    volumes:
        - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
        - ${HOME}/.aspnet/https:/root/aspnet/https/
    ports:
      - "8000:80"

  shopcart.api:
    container_name: shopcartapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:Redis=shopcartdb:6379"
      - "EventBus:HostName=rabbitmq"
    depends_on:
      - shopcartdb
      - rabbitmq
    volumes:
        - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
        - ${HOME}/.aspnet/https:/root/aspnet/https/
    ports:
      - "8001:80"

  ordering.api:
    container_name: orderapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:OrderConnection=Server=orderdb;Database=OrderDb;User Id=sa;Password=Teste@1234"
      - "EventBus:HostName=rabbitmq"
    ports:
      - "8002:80"